body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img#profile {
    widht: 32px;
    height: 32px;
}

button {
    font-size: 20px;
}

section {
    margin: 20px;
    font-size: 16px;
}

div.checkable {
    margin-left: 30px;
}

div.checkable i.icon-check-empty {
    margin-right: 10px;
}

div.checkable i.icon-check {
    margin-right: 7px;
}

div.checkable i.icon-check-sign {
    margin-right: 10px;
}

div.checkable i.icon-book {
    margin-right: 7px;
}