body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span {
    margin: 5px;
}

span#username {
    font-size: 21px;
}

img#photo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

button {
    font-size: 16px;
    height:24px;
}

section {
    margin: 20px;
    font-size: 16px;
}

div.searchbar {
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 56px;
}

div.searchbar input {
    width: 250px;
}

div.searchbar button {
    margin-left: 35px;
}

div.checkable {
    margin-left: 30px;
}

div.checkable i.fa-square-o {
    margin-right: 10px;
}

div.checkable i.fa-check-square-o {
    margin-right: 7px;
}

div.checkable i.fa-check-square {
    margin-right: 10px;
}

div.checkable i.fa-book {
    margin-right: 7px;
}

div.pagearrow {
    margin-left: 30px;
}